{% extends "base.html" %}



{% block content %}
<!--
<div class="container main_content">
	<div class="row" style="padding-bottom: 10px;">
		<div class="col-6">
            <form action="" method="post">
                <div>Nom du cas d'étude :</div>
                <input type="text" placeholder="Nom cas d'étude" name="casename" value="{{
                request.form.casename }}">
                <div>Nom de l'entreprise :</div>
                <input type="text" placeholder="Nom de l'entreprise" name="company_name" value="{{
                request.form.company_name }}">
                <div>
                    <input class="bottom_button btn btn-success btn-l" type="submit" value="Valider">
                </div>
            </form>
        </div>
    </div>
</div>

 -->

{% endblock %}
